
/obj
/*/obj
/*/*/obj

/Thumbs.db
/*/Thumbs.db
/*/*/Thumbs.db
/*/*/*/Thumbs.db

*.ilk
/*/*.ilk

*.pdb
/*/*.pdb
*.log
/*/*.log

/game/bind.cpp
*.exe
*.exp
*.lib
/project/Release
/project/Debug
/project/ipch
/depend/src/core/obj
/depend/src/helpers/obj
/depend/src/hge_ogl/Debug
/depend/src/hge_ogl/Release